#cssmenu > ul > li {
    float: left;
    margin-left: 4.8%;

}
.navigation {
    background-color: white;
    color: #0b0b0b;
}
#cssmenu{
    width: 80%;
}
.contentNavigation{
    display: flex;
}

.logoContainer, .detailsContainer {
    display: none;
}
#cssmenu > ul > li > a {
    color: #0b0b0b;
}
#cssmenu.small-screen #menu-button {
    color: #0b0b0b;
}
@media (max-width: 768px){
    #cssmenu.small-screen #menu-button:after {
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
    }

@media only screen and (max-width: 600px) {
    .logoNavigation{
        display: none;
    }
    .logoContainer{
        display: block;
        padding-top: 30px;
    }
}
@media only screen and (min-width: 1000px) {
    .nav-bar {
        padding: 0;
    }
}