#cssmenu > ul > li {
    float: left;
    margin-left: 6.4%;

}

.contactTet {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.navigation {
    background-color: transparent;
    color: #0b0b0b;
    height: 58px;
    margin-top: 0;
}

#cssmenu {
    width: 80%;
}

.nav-bar {
    /* background-color: rgba(25, 4, 6, 0.13);

 */
}

.logoNavBar {
    height: 58px;
}

.address-block {
    background-color: transparent;
    margin-top: 0;
}
.address-top-block{
    background-color: #ecc53f52;
}

#cssmenu > ul > li:hover, #cssmenu > ul > li.active {
    border-top: 4px solid #ecc53f;
    border-bottom: none;
}

.contentNavigation {
    display: flex;
    background-color: rgba(25, 4, 6, 0);
}

.logoContainer, .detailsContainer {
    display: none;
}

#cssmenu > ul > li > a {
    color: #0b0b0b;
}

#cssmenu.small-screen #menu-button {
    color: #0b0b0b;
}

#cssmenu > ul > li:hover {
    color: #ecc53f;
}

.project-dtl-img {
    padding-top: 40px;
}

@media (max-width: 768px) {
    #cssmenu.small-screen #menu-button:after {
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
    }
}

@media only screen and (max-width: 1500px) {
    .logoNavigation {
        /*padding-left: 11.8%;*/
    }
    #cssmenu > ul > li {
        float: left;
        margin-left: 1.4%;

    }
}
@media only screen and (min-width: 1400px) {

    #cssmenu > ul > li {
        float: left;
        margin-left: 3%;

    }
}
.video-container{
    width: 100%;
}



/*
@media only screen and (max-width: 600px) {
    .logoNavigation {
        display: none;
    }

    .logoContainer {
        display: block;
        padding-top: 30px;
    }

    .contentNavigation {
        background-color: white;
    }
}
*/

@media only screen and (min-width: 1000px) {
    .nav-bar {
        padding: 0;
    }
}
@media only screen and (min-width: 769px) {
    .video-head .video {
    }
    .video-head{
        height: 41vh;
    }
}

/*@media only screen and (max-width: 1024px) {
    .video-head .video {
        min-width: 72.4%;
    }
    #cssmenu > ul > li {
        margin-left: 0.4%;

    }
    .video-head{
        min-height: 41rem;
    }
}*/


@media (max-width: 768px) {
    #cssmenu.small-screen #menu-button:before {
        background: #000;
    }
    #cssmenu.small-screen #menu-button.menu-opened:before {
        background: #000;
    }
    #cssmenu.small-screen #menu-button.menu-opened:after {
        background: #000;
    }
}







/* ----------- 0 - 450px ----------- */
@media screen
and (max-width: 450px){
    .video-head .video {
        min-height: 71%;
    }
    .video-head{
        height: 26vh;
        min-height: 20rem;
    }
    .logoNavigation {
        display: none;
    }
    .logoContainer {
        display: block;
        padding-top: 30px;
    }
    .contentNavigation {
        background-color: white;
    }
    .video-container {
        margin: 0 auto;
        padding-top: 170px;
    }
}

/* ----------- 450 - 650px ----------- */
@media screen
and (min-width: 451px)
and (max-width: 650px){
    .video-head .video {

        min-height: 71%;
    }
    .video-head{
        height: 26vh;
        min-height: 20rem;
    }
    .logoNavigation {
        display: none;
    }

    .logoContainer {
        display: block;
        padding-top: 30px;
    }
    .video-container {
        margin: 0 auto;
        padding-top: 170px;
    }
    .contentNavigation {
        background-color: white;
    }
}

/* ----------- 650px - 950px ----------- */
@media screen
and (min-width: 651px)
and (max-width: 950px){
    .video-head .video {
        min-height: 71%;
    }
    .video-head{
        height: 26vh;
        min-height: 20rem;

    }
    .logoNavigation {
        display: none;
    }

    .logoContainer {
        display: none;
        padding-top: 0;
    }

    .contentNavigation {
        background-color: white;
    }
}

/* ----------- 950px - 1200px ----------- */
@media screen
and (min-width: 951px)
and (max-width: 1200px){
    .logoNavigation {
        /*padding-left: 10.8%;*/
    }
    #cssmenu > ul > li {
        float: left;
        margin-left: 0.7%;

    }
}
@media screen
and (min-width: 768px)
and (max-width: 769px){
    .logoContainer {
        display: block;
        padding-top: 8px;
        padding-left: 37%;
    }
}


/* ----------- 1200px + ----------- */
@media screen
and (min-width: 1201px){
    .logoNavigation {
/*        padding-left: 4.2%;*/
    }
    #cssmenu > ul > li {
        float: left;
        margin-left: 6.1%;

    }
}









